@model BT.Stage.SGIMI.UserInterface.ViewModel.FournisseurViewModel
@{
    ViewBag.Title = "Ajout d'un fournisseur";
}
<style>
    h2,p
    {
        color:white;
    }
    .form-group
    {
        color:white;
    }

</style>
<h2>Ajouter un fournisseur</h2>

@using (Html.BeginForm("Create", "Fournisseur", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-warning" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-warning" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-warning" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-warning" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.SiteWeb, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SiteWeb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SiteWeb, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a><input type="submit" value="Ajouter" class="btn btn-success btn-sm" style="margin:10px" /></a>
            <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Home")"><i class="fa fa-plus-square"></i>Retour</a>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
