@model BT.Stage.SGIMI.UserInterface.ViewModel.FournisseurViewModel
@{
    ViewBag.Title = "Détails d'un fournisseur";
}
<style>
h2, p ,dt,dd{
        color: white;
    }
</style>
<h2>Détails d'un fournisseur </h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.SiteWeb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteWeb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchivedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedTime)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Fournisseur")"><i class="fa fa-plus-square"></i>Retour</a>
</p>
