@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.FournisseurViewModel>

@{
    ViewBag.Title = "FournisseurActives";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border-style: solid;
    }

    th, td {
        text-align: center;
        padding: 8px;
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: white;
        color: black;
    }

    h2 {
        font-style: oblique;
        color: white;
    }
</style>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <h2>Liste des fournisseurs actives</h2>
    </div>
    <div class="col-lg-6 col-md-6">
        <a class="btn btn-primary navbar-right btn-sm" style="margin-top: 3%;" href="@Url.Action("DynamicReports","Fournisseur")"><i class="fa fa-plus-square"></i>Télecharger actives fournisseurs</a>

   </div>
    </div>
  
   
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SiteWeb)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SiteWeb)
                </td>

                <td>
                    <a class="btn btn-info btn-sm" href="@Url.Action("Details","Fournisseur", new { id = item.Id })"><i class="fa fa-plus-square"></i>Détails</a>
                    <a class="btn btn-success btn-sm" href="@Url.Action("Edit","Fournisseur", new { id = item.Id })"><i class="fa fa-plus-square"></i>Modifier</a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("Archiver","Fournisseur", new { id = item.Id })"><i class="fa fa-plus-square"></i>Archiver</a>
                    <a class="btn btn-primary btn-sm" href="@Url.Action("DynamicReport","Fournisseur", new { id = item.Id })"><i class="fa fa-plus-square"></i>Télecharger Contrat</a>
                </td>

            </tr>
        }

    </table>
