@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.InterventionViewModel>
@{
    ViewBag.Title = "interventionAnnulé";
}
<br />
<form class="navbar-form navbar-right">
    <a class="btn btn-primary" href="@Url.Action("DynamicReportsCanceled","Reclamation")"><i class="fa fa-plus-square"></i>Télecharger interventions annulées</a>
</form>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Reclamation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nature)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reclamation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nature)
            </td>


            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Reclamation", new { id = item.Id })"><i class="fa fa-plus-square"></i>Détails</a>
                <a class="btn btn-primary" href="@Url.Action("DynamicReport","Reclamation", new { id = item.Id })"><i class="fa fa-plus-square"></i>Télecharger détails</a>
            </td>
        </tr>
    }

</table>
