@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.InterventionViewModel>
@{
    ViewBag.Title = "InterventionTerminé";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border-style: solid;
    }

    th, td {
        text-align: center;
        padding: 8px;
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: white;
        color: black;
    }

    h2 {
        font-style: oblique;
        color: white;
    }
</style>
<h2>Liste des interventions terminées</h2>
<form class="navbar-form navbar-right">
    <a class="btn btn-primary" href="@Url.Action("DynamicReportsFinished","Reclamation")"><i class="fa fa-plus-square"></i>Télecharger interventions terminés</a>
</form>
<br />
<br />
<hr />
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Reclamation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nature)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProblemeConstate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraveauxEffectues)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reclamation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nature)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProblemeConstate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraveauxEffectues)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Reclamation", new { id = item.Id })"><i class="fa fa-plus-square"></i>Détails</a>
                <a class="btn btn-primary" href="@Url.Action("DynamicReport","Reclamation", new { id = item.Id })"><i class="fa fa-plus-square"></i>Télecharger détails</a>

            </td>
        </tr>
    }

</table>

