@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.InterventionViewModel>
@{
    ViewBag.Title = "Ajout d'une intervention";
}
<h2>Liste des interventions</h2>
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Chercher une intervention">
    </div>
    <button type="submit" class="glyphicon glyphicon-search" aria-hidden="true"></button>
</form>
<div class="pull-right">

    <button type="button">Télécharger un rapport</button>

</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reclamation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraveauxEffectués)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reclamation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraveauxEffectués)
            </td>


            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
                @Html.ActionLink("Annuler", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
