@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.MaterielViewModel>
@{
    ViewBag.Title = "UserComplainedMateriaux";
}
<br />
<form class="navbar-form navbar-right">
    <a class="btn btn-primary" href="@Url.Action("DynamicReportsComplainedUser","Materiel")"><i class="fa fa-plus-square"></i>Télecharger matériaux réclamés</a>
</form>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fournisseur)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
    {
        <tr>
            <td>
                <img src="~/Icon/intranet.png" width="25" height="25" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur)
            </td>

            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Materiel")"><i class="fa fa-plus-square"></i>Détails</a>
                <a class="btn btn-primary" href="@Url.Action("DynamicReport","Materiel")"><i class="fa fa-plus-square"></i>Télecharger contrat</a>


            </td>
        </tr>
    }

</table>
