@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.MaterielViewModel>
@{
    ViewBag.Title = "MaterielReclamé";
}
<br />
<form class="navbar-form navbar-right">
    <a class="btn btn-primary" href="@Url.Action("DynamicReportsComplained","Materiel")"><i class="fa fa-plus-square"></i>Télecharger matériaux réclamés</a>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fournisseur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Materiel", new { id = item.Id })"><i class="fa fa-plus-square"></i>Détails</a>
                <a class="btn btn-primary" href="@Url.Action("DynamicReport","Materiel", new { id = item.Id })"><i class="fa fa-plus-square"></i>Télecharger contrat</a>
            </td>
        </tr>
    }

</table>