@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.MaterielViewModel>
@{
    ViewBag.Title = "UserMateriels";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border-style: solid;
    }

    th, td {
        text-align: center;
        padding: 8px;
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: white;
        color: black;
    }

    h2 {
        font-style: oblique;
        color: white;
    }
</style>
<h2>Ma liste des matériels</h2>
<form class="navbar-form navbar-right">
    <a class="btn btn-primary" href="@Url.Action("DynamicReportsAffected","Materiel")"><i class="fa fa-plus-square"></i>Télecharger ma liste des matériels</a>
</form>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modele)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fournisseur)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
    {
        <tr>
            <td>
                <img src="~/Icon/intranet.png" width="25" height="25" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fournisseur)
            </td>

            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Materiel", new { id = item.Id })"><i class="fa fa-plus-square"></i>Détails</a>
                <a class="btn btn-success" href="@Url.Action("Create","Reclamation",new { materiel = item.Id })" )"><i class="fa fa-plus-square"></i>Reclamer</a>
                <a class="btn btn-primary" href="@Url.Action("DynamicReport","Materiel", new { id = item.Id })"><i class="fa fa-plus-square"></i>Télecharger Contrat</a>

            </td>
        </tr>
    }

</table>
