@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.SocieteTierceViewModel>
@{
    ViewBag.Title = "ArchivedSocieteTierce";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: white;
        color: black;
    }

    h2 {
        font-style: oblique;
    }
</style>
<h2>Liste des societes tierces archivées</h2>
<form class="navbar-form navbar-right">
    <a class="btn btn-primary" href="@Url.Action("DynamicReportsArchived","SocieteTierce")"><i class="fa fa-plus-square"></i>Télecharger archivés sociétés tierces</a>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteWeb)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteWeb)
            </td>

            <td>
                <a class="btn btn-info" href="@Url.Action("Details","SocieteTierce", new { id = item.Id })"><i class="fa fa-plus-square"></i>Détails</a>
                <a class="btn btn-success" href="@Url.Action("Activer","SocieteTierce", new { id = item.Id })"><i class="fa fa-plus-square"></i>Activer</a>
                <a class="btn btn-primary" href="@Url.Action("DynamicReport","SocieteTierce", new { id = item.Id })"><i class="fa fa-plus-square"></i>Télecharger Contrat</a>
            </td>
        </tr>
    }

</table>
