<!DOCTYPE html>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(#141e30,#4286f4);
    }
    footer
    {
        font-weight:bold;
        color:white;
    }
    h2, p {
        color: white;
    }

    .form-group {
        color: white;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SGIMI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                @if (User.IsInRole("admin"))
                {
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("SGIMI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                }
                @if (User.IsInRole("user"))
                {
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("SGIMI", "Index", "ChartReclamation", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                }
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if ((Request.IsAuthenticated) && (User.IsInRole("admin")))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fournisseur <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("Nouveau fournisseur", "Create", "Fournisseur")</li>
                                    <li> @Html.ActionLink("Fournisseurs actives", "Index", "Fournisseur")</li>
                                    <li>@Html.ActionLink("Fournisseurs archivés", "Archived", "Fournisseur")</li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Societe Tierce <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("Nouvelle societe Tierce", "Create", "SocieteTierce")</li>
                                    <li> @Html.ActionLink("Societes tierces actives", "Index", "SocieteTierce")</li>
                                    <li>@Html.ActionLink("Societes tierces archivées", "Archived", "SocieteTierce")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Materiel <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("Nouveau matériel ", "Create", "Materiel")</li>
                                    <li> @Html.ActionLink("Materiels non affectés", "Index", "Materiel")</li>
                                    <li>@Html.ActionLink("Materiels affectés", "Affected", "Materiel")</li>
                                    <li>@Html.ActionLink("Materiels archivés", "Archived", "Materiel")</li>
                                    <li>@Html.ActionLink("Materiels réclamés", "Complained", "Materiel")</li>
                                    <li>@Html.ActionLink("Mes matériels", "UserMateriels", "Materiel")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reclamation<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("Reclamations en attentes", "Index", "Reclamation")</li>
                                    <li>@Html.ActionLink("Reclamations en cours", "InProgress", "Reclamation")</li>
                                    <li>@Html.ActionLink("Reclamations terminées", "Finished", "Reclamation")</li>
                                    <li>@Html.ActionLink("Reclamations annulées", "Canceled", "Reclamation")</li>
                                    <li>@Html.ActionLink("Mes reclamations en attentes", "UserOnHold", "Reclamation")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Intervention<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Interventions en cours", "Index", "Intervention")</li>
                                    <li>@Html.ActionLink("Interventions terminés", "Finished", "Intervention")</li>
                                    <li>@Html.ActionLink("Interventions annulées", "Canceled", "Intervention")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("UniteGestion", "Index", "UniteGestion")</li>

                        }
                        @if ((Request.IsAuthenticated) && (User.IsInRole("user")))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Materiel <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Mes matériels non réclamés", "UserMateriels", "Materiel")</li>
                                    <li>@Html.ActionLink("Mes matériels réclamés", "ComplainedUser", "Materiel")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reclamation<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Mes reclamations en attentes", "UserOnHold", "Reclamation")</li>
                                    <li>@Html.ActionLink("Mes reclamations en cours", "UserInProgress", "Reclamation")</li>
                                    <li>@Html.ActionLink("Mes reclamations terminées", "UserFinished", "Reclamation")</li>
                                    <li>@Html.ActionLink("Mes reclamations annulées", "UserCanceled", "Reclamation")</li>

                                </ul>
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
           
        </div>
    }
<div class="container body-content">
    @RenderBody()


    @if (Request.IsAuthenticated)
    {
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Systéme de Gestion des Interventions Maintenance Informatique de la Banque de Tunisie</p>
        </footer>
    }
</div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
