@model BT.Stage.SGIMI.UserInterface.WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
    <style>
        h1, h4 {
            color: white;
            text-align: center;
        }
    </style>
<h1>Inscription</h1>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Créer un compte!</h4>
    <hr />
    <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })<br />
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@style="margin-left:44%" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-5 control-label",@style="margin-left:52px"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "margin-left:44%" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label",@style= "margin-left:122px"})
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "margin-left:44%" })
            </div>
        </div><br />
    <div class="form-group" style="MARGIN-RIGHT:15%;">
        <div class="col-md-offset-2 col-md-10" style="text-align:center">
            <input type="submit" class="btn btn-default" value="S'inscrire" />
        </div>
    </div>
    <br />
    <hr />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
