@model BT.Stage.SGIMI.UserInterface.ViewModel.ReclamationViewModel
@{
    ViewBag.Title = "DetailsReclamation";
}
<style>
    h2, p, dt, dd {
        color: white;
    }
</style>
<h2>Details d'une reclamation</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Materiel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materiel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Probleme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probleme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniteGestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniteGestion)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-danger btn-sm" href="@Url.Action("Index","Reclamation")"><i class="fa fa-plus-square"></i>Retour</a>
</p>
