@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.ReclamationViewModel>
@{
    ViewBag.Title = "ReclamationInProgress";
}
<h2>Liste des réclamations en cours</h2>
<p>
    @Html.ActionLink("liste des reclamations en attente", "Index")|
    @Html.ActionLink("liste des reclamations annulées", "Canceled")|
    @Html.ActionLink("liste des reclamations terminées", "Finished")|
    @Html.ActionLink("Telecharger la liste des réclamations en cours", "DynamicReportsInProgress")
</p>
<div class="pull-right">

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materiel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Probleme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniteGestion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materiel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probleme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniteGestion)
            </td>
            <td>
              
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Télecharger Détails ", "DynamicReport", new { id = item.Id })|
            </td>
        </tr>
    }

</table>
