@model IEnumerable<BT.Stage.SGIMI.UserInterface.ViewModel.ReclamationViewModel>
@{
    ViewBag.Title = "Mes reclamations terminés";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: white;
        color: black;
    }

    h2 {
        font-style: oblique;
    }
</style>
<h2>Ma liste des réclamations terminées</h2>
<form class="navbar-form navbar-right">
    <a class="btn btn-primary" href="@Url.Action("DynamicReportsFinished","Reclamation")"><i class="fa fa-plus-square"></i>Télecharger réclamations terminés</a>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Materiel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Probleme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniteGestion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.CreatedTime))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Materiel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probleme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniteGestion)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Details","Reclamation", new { id = item.Id })"><i class="fa fa-plus-square"></i>Détails</a>
                <a class="btn btn-primary" href="@Url.Action("DynamicReport","Reclamation", new { id = item.Id })"><i class="fa fa-plus-square"></i>Télecharger détails</a>

            </td>
        </tr>
    }

</table>

